/* CONTROLADOR PAD MIX */

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(150deg,#111B4C,#29008E,#650354,#A80053);
}

nav h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4em;
    text-transform: uppercase;
    color: #FF0099;
    margin: 3rem 0 0 0;
}

li {
    list-style: none;
}

.imagens {
    height: 300px;
    /* TEMPORÁRIO */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens, .botoes {
    background-color: #0E0A30;
    margin: 3rem 10rem;
}

.imagens i {
    /* TEMPORÁRIO */
    color: #FF0099;
    font-size: 60px;
}

.botoes ul {
    padding: 40px 0;
}

.botoes li {
    display: inline;
    margin: 0 10px;
}

.botao {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100px;
    height: 100px;
    background-color: #0C00B7;
    color: #fff;
}

.botao:hover {
    border: solid 1px #635f5f;
}

.botao:active {
    background-color: #10094F;
    border: solid 1px #8900c9;
    color: #A80053;
    transform: scale(0.9);
}

